body {
    background-color: #CAD5E2;
}

/* Navbar */
.navbar {
    padding: 2px 0;
}


/* Footer */
footer {
    background-color: #000;
    color: #fff;
    border-top: 5px solid #007bff;
}

footer .bi:hover {
    color: #1B98F5;
    cursor: pointer;
}

footer a {
    text-decoration: none;
}


/* ------------------ Home ------------------ */

/* Landing */
.home-landing-img {
    width: 100%;
    height: 80vh;
    background-image: url("../public/img/team/team.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.mask {
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    opacity: 0.3;
    color: #fff;
}

.landing-text {
    position: absolute;
    top: 25%;
    right: 3%;
    color: #fff;
    z-index: 3;
    text-align: right;
}

.landing-text h1 {
    font-family: "Source Serif 4", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 84px;
    color: #fff;
}

@media (max-width: 768px) {
    .landing-text {
        top: 15%;
        left: 5%;
    }
    .landing-text h1 {
        font-size: 35px;
        line-height: 50px;
    }
}


/* Statistics */

.home-statistics {
    position: relative;
    top: -75px;
    z-index: 2;
}

.home-statistics .container {
    background-color: #fff;
    border-radius: 7px;
    min-height: 170px;
}

.home-statistics-row {
    height: 170px;
}


.home-statistics-item {
    padding: 20px;
    min-height: 150px;
}

.home-statistics-item.one {
    background-image: url('../public/img/home/statistics_bg_1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.home-statistics-item.two {
    background-image: url('../public/img/home/statistics_bg_2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.home-statistics-item.three {
    background-image: url('../public/img/home/statistics_bg_3.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.home-statistics-item.four {
    background-image: url('../public/img/home/statistics_bg_4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}